* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4 {
  font-weight: 900;
}

:root {
  --sml-font-weight: 100
  --md-font-weight: 400
  --bd-font-weight: 900
}